@font-face {
    font-family: 'Vogue';
    src: url('../fonts/Vogue-Regular.woff2') format('woff2'),
        url('../fonts/Vogue-Regular.woff') format('woff'),
        url('../fonts/Vogue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

